<!DOCTYPE htl>
<html>
  <head>
    <title>Jovian Careers</title>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device- 
    width, initial-scale=1">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }
    </style>
    
  </head>
  <body>
    <div class="container">
  <h1 class="text-center mt-2 bt-2">Jovian Careers</h1>
  <img id="banner" class="img-fluid" src="https://jovian-careers-website.syed-habeebhabe.repl.co/static/banner.jpg" height="320" >
    <h2 class="text-center mt-2 mb-2">About Jovian</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Enim lobortis scelerisque fermentum dui faucibus in ornare. Vivamus at augue eget arcu. Purus faucibus ornare suspendisse sed. Quam elementum pulvinar etiam non quam lacus. Gravida rutrum quisque non tellus orci. Et netus et malesuada fames ac. Mauris rhoncus aenean vel elit scelerisque mauris pellentesque. In est ante in nibh mauris. Tempor nec feugiat nisl pretium fusce id velit ut tortor. Euismod elementum nisi quis eleifend. Id cursus metus aliquam eleifend mi in nulla.
</p>
    <h2 class="text-center mt-2 mb-2">Job Openings</h2>
    <div>
      {% for job in jobs %}
       {% include 'jobitem.html' %}
      {% endfor %}
    </div>
    <div class="text-center">
    <button class="btn btn-primary btn-lg">Contact Us</button>
    <p class="mt-4">Copyright 2023, Jovian</p>
    </div>


      
    </div>
  </body>
</html>